---
import Header from "@/components/layout/header.astro";
import Hero from "@/components/sections/hero.astro";
import Footer from "@/components/layout/footer.astro";
import About from "@/components/sections/about.astro";
import Services from "@/components/sections/services.astro";
import Methodology from "@/components/sections/methodology.astro";
import Testimonials from "@/components/sections/testimonials.astro";
import FAQ from "@/components/sections/faq.astro";
import Contact from "@/components/sections/contact.astro";
import WhatsApp from "@/components/sections/whatsapp.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ame Psicología - Psicóloga Mamá y Pareja</title>
    <Header />
  </head>
  <body>
    <Hero />
    <About />
    <Services />
    <Methodology />
    <Testimonials />
    <FAQ />
    <Contact />
    <WhatsApp />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
