---
import Header from '@/components/layout/header.astro';
import Hero from '@/components/sections/hero.astro';
import Footer from '@/components/layout/footer.astro';
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ame Psicología - Psicóloga Mamá y Pareja</title>
  </head>
  <body>
    <Header />
    <Hero />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>